/*----------------------------------------------------------------------------------*/
/*----------------------------------BASIC SETUP-------------------------------------*/
/*--------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
    font-family: 'Colchester';
    src: url('Colchester.ttf') format('truetype');
}
/*----------------------------------Reusable stuff-------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

h1{
	margin:0;
}
html{

	/*
	min-width: 800px;
	min-height: 600px;*/
	min-width: 1200px;
	min-height: 800px;
	background-color: rgb(30,30,30);
	color: rgb(178,178,178);
	font-family:'Montserrat', san-serif ;
	font-size: 20px;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}
/*----------------------------------Paragraphs-------------------------------------*/
.longcopy{
	line-height: 145%;
	width:70%;
	margin-left: 15%
}
/*----------------------------------Icons-------------------------------------*/
.icon-big{
	font-size: 250%;
	margin-left: 40%;
	display: block;
	margin-bottom: 10px;
	color: rgb(0,171,174);
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------Header Section-------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header{
	width: 100%;
	height: 230px;
	display: block;
	background-color: rgb(25,25,25);
}
.inner-header{
	width: 1000px;
	/*background-color: rgb(140, 59, 151);*/
	height: 100%;
	margin: 0 auto;
	display: block;
}
.logo-container{
	height: 100%;
	display: block;
}
.logo-container h1{
	color: rgb(0,171,174);
	font-family: Colchester;
	font-weight: 400;
	font-size: 600%;
	/*background-color: rgb(20, 12, 97);*/
	display: block;
	margin-right: 40px;
	margin-left: 200px;
	float: left;
}
.logo-container img{
	max-width: 60%;
	max-height: 60%;
	margin-top: 10px;
	border: solid 2px rgb(118,118,118)
}
.logo-container h2{
	white-space: nowrap;
	font-weight: 300;
	font-size: 180%;
	letter-spacing: 2px;	
	display: block;
	margin: 0 auto;
	width:41%;
	/*background-color: rgb(20, 12, 97);*/
	margin-top: 10px;
	color: rgb(0,171,174);
}

/*----------------------------------Navigation-------------------------------------*/
.main-nav{
	list-style: none;
}
.main-nav li a{
	white-space: nowrap;
	float:left;
	text-decoration: none;
	color:rgb(178,178,178);
	border:1px solid rgb(30,30,30);
	padding:10px 0;
	text-align: center;
	width:20%;
	background-color:rgb(45,45,45);
}
.main-nav li a:hover, .main-nav li a:active{
	background-color: rgb(25,25,25);
	border: 1px solid rgb(178,178,178);
	transition: background-color 0.4s, border 0.4s;
}
/*----------------------------------Section Midlle-------------------------------------*/
.home{
	margin-top: 150px;
}
.home-intro{
	margin-bottom: 60px;;
}
.box{
	padding:1.5%;
	margin-top: 40px;
}
section h2,h3{
	font-weight:200; 
	word-spacing: 2px;
}
section h2{
	text-transform: uppercase;
	font-size: 170%;
	color: rgb(120,120,120);
	letter-spacing: 0.8px;
	text-align: center;
	margin-bottom: 40px;
}
section h3{
	font-weight: 200;
	text-transform: uppercase;
	font-size: 130%;
	color: rgb(120,120,120);
	text-align: center;
	margin-bottom: 20px;
}
section h2:after{
	display:block;
	height: 1px;
	width: 40%;
	content: " ";
	margin:0 auto;
	margin-top: 40px;
	background-color: rgb(0,171,174);
}
section h3:after{
	display:block;
	height: 1px;
	width: 40%;
	content: " ";
	margin:0 auto;
	margin-top: 20px;
	background-color: rgb(0,171,174);
}
.box p{
	font-size: 90%;
	line-height: 150%;
}
/*----------------------------------Features Page-------------------------------------*/
.features{
	margin-top: 100px;
}
.feature-list1 h3:after{
	height: 1px;
} 
.feature-list1, .feature-list2, .feature-list3{
	margin-top: 50px;
} 
.UI{
	width: 100%;
	height:auto;
}
.box1{
	padding:3.5%;
	margin-top: 40px;
}
/*----------------------------------Download Page-------------------------------------*/
.download{
	margin-top: 100px;
}
 table, th, td{
	border: solid 2px rgb(45,45,45);
	border-collapse: collapse;
}
th{
	padding: 25px 50px;
	white-space: nowrap;
}
table{
	width:90%;
	margin: 10px 0 100px 0;
}
tr{
	text-align: center;
}
td{
	padding: 15px 0;
}
tr:nth-child(odd){
	background-color: rgb(25,25,25);
}